.settings
.svn
local.properties
proguard.cfg
proguard-project.txt
bin/
gen/
libs/
obj/
patches/
target/

src/test/resources/META-INF/config.properties
*.Plo
*.dylib
*.la
*.a
*.lo
.libs/
.deps/
autom4te.cache/
Makefile.in
Makefile
config.status
*.m4
config_auto.h
configure
libtool
tesseract.pc
stamp-h1
tess-two/build/generated/source/buildConfig/debug/com/googlecode/tesseract/android/BuildConfig.java
tess-two/build/generated/source/buildConfig/release/com/googlecode/tesseract/android/BuildConfig.java
tess-two/build/generated/source/buildConfig/test/debug/com/googlecode/tesseract/android/test/BuildConfig.java
tess-two/build/intermediates/bundles/debug/AndroidManifest.xml
tess-two/build/intermediates/bundles/release/AndroidManifest.xml
tess-two/build/intermediates/incremental/aidl/debug/dependency.store
tess-two/build/intermediates/incremental/aidl/release/dependency.store
tess-two/build/intermediates/incremental/aidl/test/debug/dependency.store
tess-two/build/intermediates/incremental/mergeAssets/debug/merger.xml
tess-two/build/intermediates/incremental/mergeAssets/release/merger.xml
tess-two/build/intermediates/incremental/mergeAssets/test/debug/merger.xml
tess-two/build/intermediates/incremental/mergeResources/test/debug/merger.xml
tess-two/build/intermediates/incremental/packageResources/debug/merger.xml
tess-two/build/intermediates/incremental/packageResources/release/merger.xml
tess-two/build/intermediates/manifests/test/debug/AndroidManifest.xml
tess-two/build/intermediates/manifests/tmp/manifestMerger6391113273386685050.xml
tess-two/build/intermediates/res/resources-debug-test.ap_
tess-two/build/outputs/aar/tess-two-debug.aar
tess-two/build/outputs/aar/tess-two-release.aar
tess-two/build/tmp/packageDebugJar/MANIFEST.MF
tess-two/build/tmp/packageReleaseJar/MANIFEST.MF
tess-two/build
